CirclePartCalculator/obj/Release/net7.0
CirclePartCalculator/obj
CirclePartCalculator/bin/Release/net7.0
Goldenratio-Calc/compiled
HappyHalloween!/bin/Debug/net6.0
HappyHalloween!/obj/Debug/net6.0
HappyHalloween!/obj/HappyHelloween!.csproj.nuget.dgspec.json
HappyHalloween!/obj/HappyHelloween!.csproj.nuget.g.props
HappyHalloween!/obj
Inverse3n+1/Source.hi
Inverse3n+1/Source.o
Inverse3n+1/compiled
Mandelbrot/obj/Debug/net6.0
ProgrammingLanguagesSpeedComparison/c#/obj/Debug/net6.0
c#+c_test/bin/Release/net6.0
c#+c_test/dlls
c#+c_test/obj
